@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
  margin: 0;
}

/* cta-info section */

.info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: sans-serif;
  font-size: 1em;
  margin: 50px 0;
}

.info-detail {
  padding: 0px 20px;
  width: 50%;
}

.info-detail > ul {
  margin: 0 0 0 25px;
  padding: 0;
}

.info-detail > ul > li {
  margin: 20px 0;
}
.detail-title {
  margin: 0;
}

.info-image {
  width: 50%;
}

.info-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover
}

.page {
  max-width: 800px;
  margin: 0 auto 0 auto;
}

.cta-button {
  background-color: #dc886b;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

/* product section */

.product-highlight-section {
  background-color: #f4f4f4;
  font-family: sans-serif;
  padding: 20px;
  max-width: 100%;
}

.product-highlight-section > h3 {
  text-align: center;
  margin: 0;
}

.product-container {
  display: flex;
}

.product {
  text-align: center;
}

.product > h4 {
  margin-top: 0;
}

/* member section */

.member-detail {
  width: 50%;
  margin: auto;
  padding: 0 20px;
}

.member-detail-container {
  width: 80%;
  margin: auto;
}

.member-detail-container > ul {
  padding-left: 10px;
  margin-left: 10px;
}

.member-detail-container > ul > li {
  margin: 0 0 20px 0;
  padding: 0.3em;
  list-style-image: url(./images/check.png);
}

.alt-font-title {
  font-family: 'Open Sans Condensed', sans-serif;
}

.mobile-only {
    display: none;
}

/* responsive design */
@media only screen and (max-width: 800px){
  .second-product {
    display: none;
  }
  .product-container {
    display: block;
  }

  .info-detail, .member-detail {
    padding: 20px;
    width: auto;
    max-width: 100%;
  }

  .info-image {
    width: 100%;
    padding: 0;
  }

  .info-section {
    margin-top: 0;
    flex-direction: column;
  }

  .mobile-reverse-flex {
    flex-direction: column-reverse;
  }

  .cta-button {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    font-size: 1.1em;
  }

  .mobile-only {
    display: block;
  }
}

/* Navbar */

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-list > li {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.logo > img {
  width: 100px;
  padding-left: 40px;
}

.nav-icon {
  display: flex;
  padding: 0 20px;
}

.cart {
  font-family: sans-serif;
  color: gray;
}

.cart > span {
  color: black
}